.button {
  grid-column: span 2;
  justify-self: center;
  margin-top: var(--medium-size);
  padding: var(--small-size);
  background-color: var(--button-color);
  font-size: var(--medium-size);
  font-weight: 800;
  color: rgb(119, 119, 119);
  border: 2px solid var(--button-border);
  outline: none;
  box-shadow: none;
  border-radius: calc(var(--x-small-size) / 2);
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}

.button--next {
  padding: var(--x-small-size) var(--small-size);
  width: 200px;
  align-self: center;
}

.button:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .button {
    font-size: var(--small-size);
  }
}
