.button {
    grid-column: span 2;
    justify-self: center;
    margin-top: 28px;
    padding: 1rem;
    background-color: var(--button-color);
    font-size: 24px;
    font-weight: 800;
    color: rgb(119, 119, 119);
    border: 2px solid var(--button-border);
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: var(--button-hover);
    color: var(--button-text);
  }
  
  .button--next {
    padding: 0.5rem 1rem;
    width: 200px;
    align-self: center;
  }