.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  background-color: var(--connect-bg-color);
}

.connect__button {
  padding: 1rem 2rem;
  background-color: var(--button-color);
  font-size: var(--large-size);
  font-weight: 800;
  color: var(--secondary-color-silver);
  border: 2px solid var(--secondary-color-silver);
  outline: none;
  box-shadow: none;
  border-radius: calc(var(--x-small-size) / 2);
  cursor: pointer;
}

.connect__button:hover {
  background-color: var(--button-hover);
  color: var(--button-border);
  border: 2px solid var(--button-border);
}

.connecting {
  display: none;
}

.connect__text {
  display: flex;
  flex-direction: column;
  color: var(--connect-text-color);
  font-size: var(--medium-size);
  width: 760px;
}

.connect__text-line {
  animation: flash 1s infinite;
}

.connect__text-line--last {
  animation: flash 0.4s 3;
}

@keyframes flash {
  0% {
    color: var(--connect-text-color);
  }
  50% {
    color: var(--flash-mid-color);
  }
  100% {
    color: var(--connect-text-color);
  }
}

@media (max-width: 576px) {
  .connect__button {
    width: 340px;
    font-size: 18px;
  }
  .connect__text{
    font-size: 14px;
    width: 350px;
  }
}