body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/wallhaven-kw2grq.jpg");
  background-repeat: no-repeat;
  background-color: var(--primary-color-black);
  background-position: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black-radial-gradient);
  z-index: -1;
}

.quiz-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background: var(--primary-color-black);
}

.quiz-main {
  height: 85vh;
  display: flex;
  align-items: center;
}

.quiz-footer {
  background-color: var(--primary-color-black);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 48px;
  align-items: center;
}

.quiz {
  display: flex;
  background-color: var(--primary-quiz-bg);
  width: 800px;
  min-height: 260px;
  padding: 36px;
  border-radius: 18px;
  border: 4px solid var(--accent-color-bronze);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.quiz__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 22px;
}

.quiz__input {
  display: none;
}
.quiz__label {
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #282c26;
}

.quiz__label:hover,
.quiz__input:checked + .quiz__label {
  background-color: #3c4239;
  border: 2px solid #3c4239;
}

.quiz__intro,
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.button {
  grid-column: span 2;
  justify-self: center;
  margin-top: 28px;
  padding: 1rem;
  background-color: var(--button-color);
  font-size: 24px;
  font-weight: 800;
  color: rgb(119, 119, 119);
  border: 2px solid var(--button-border);
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
}

.button--next {
  padding: 0.5rem 1rem;
  width: 200px;
  align-self: center;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.review__correct-answer {
  color: var(--correct-color);
}

.review__user-answer {
  color: var(--user-answer-color);
}

.results__button-group {
  display: flex;
  gap: 64px;
}
.hide {
  display: none;
}
