body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/wallhaven-kw2grq.jpg");
  background-repeat: no-repeat;
  background-color: var(--primary-color-black);
  background-position: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black-radial-gradient);
  z-index: -1;
}

.quiz-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--small-size);
  background: var(--primary-color-black);
}

.quiz-main {
  height: 85vh;
  display: flex;
  align-items: center;
}

.quiz-footer {
  background-color: var(--primary-color-black);
  width: 100%;
  display: flex;
  justify-content: center;
  height: vaar(-x-large-size);
  align-items: center;
}

.quiz {
  display: flex;
  background-color: var(--primary-quiz-bg);
  margin: var(--large-size);
  padding: var(--large-size);
  border-radius: var(--small-size);
  border: 4px solid var(--accent-color-bronze);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-size);
}

.quiz__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--large-size);
}

.quiz__question-box{
display: flex;
justify-content: center;
} 

.quiz__question {
  text-decoration: 2px underline;
}

.quiz__form {
  display: flex;
  flex-direction: column;
  gap: var(--x-small-size);
  font-size: var(--medium-size);
}

.quiz__input {
  display: none;
}
.quiz__label {
  cursor: pointer;
  padding: var(--small-size);
  border-radius: var(--x-small-size);

}

.quiz__label:hover,
.quiz__input:checked + .quiz__label {
  background-color: var(--button-hover);

}

.quiz__score{
  display: flex;
  gap: var(--x-small-size);
}