.review {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.review__question {
  border-bottom: 1px solid;
  margin-bottom: 6px;
}
.review__correct-answer {
  color: var(--highligh-color);
}
