/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--large-size);
}
.review__question {
  border-bottom: 1px solid;
  margin-bottom: --var(--x-small-size);
}
.review__correct-answer {
  color: var(--highligh-color);
}